.container12 {
	margin: 130px auto;
	/*border:1px solid black;*/
	width: auto;
	padding-left: 350px;
}

.left1 {
	padding: 30px 30px;
}

.header1 {
	padding: 10px 10px;
}

#top-hr {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-right: 300px;
}

#table12 {
	margin: 30px 30px;
}

.des {
	position: absolute !important;
	margin-left: 50px !important;
	border-left: 1px solid black !important;
}

.proname {
	font-size: 25px;
	padding-bottom: 0.5px;
	font-family: 'Lucida Calligraphy';
	font-weight: bold;
	margin-left: 50px;
	padding-right: 140px;
	margin-top: 10px;
}

#prohr {
	margin-top: 0.5px;
	margin-left: 50px;
	margin-right: 55px;
	padding-right: 130px !important;
}

.sup {
	color: #7169fc;
	font-size: 18px;
	margin-left: 50px;
	padding-right: 140px;
}

.price {
	color: green;
	font-size: 20px;
	margin-left: 50px;
	padding-right: 140px;
}

#hrsec {
	margin-top: 0.5px;
	margin-left: 50px;
	margin-right: 55px;
	padding-right: 140px;
}

#prodes {
	color: black;
	font-size: 18px;
	margin-left: 50px;
	padding-right: 140px;
}

#msg {
	font-size: 18px;
	color: red;
	margin-left: 50px;
}

#gly {
	color: gray;
}

.cart {
	margin-left: 40px;
}

.cart a {
	text-decoration: none;
	color: white;
}